<mat-card>
    <mat-card-content>
        <h1 style="text-align: center;color: #1e81b0;font-weight: 500;text-transform: uppercase;" >Fill Details</h1>
        <!-- <div class="fill-details-bg" class="fill-details">
        </div> -->
        <!-- your-component.component.html -->
        <form (ngSubmit)="submitData()">
            <div class="fill-details-bg">
                <h3 class="fill-details">Personal Details</h3>
            </div>
            <div class="input-row-1">
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Name" [(ngModel)]="userData.Name" name="name">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Enter Role" [(ngModel)]="userData.Current_role" name="role">
                </mat-form-field >
                <mat-form-field appearance="outline">
                    <input matInput placeholder="abc@gmail.com" [(ngModel)]="userData.Details.Contact.Email"
                        name="email">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Profile Url" [(ngModel)]="userData.Details.Contact.LinkedIn_Profile"
                        name="name">
                </mat-form-field>
            </div>
            <mat-form-field appearance="outline" style="width: 50%;">
                <textarea matInput placeholder="Give summary for resume" [(ngModel)]="userData.Description"
                    name="desc"></textarea>
            </mat-form-field>
            
            <div class="fill-details-bg">
                <DIV class="Header-and-button fill-details">
                    <h3 style="margin: 0;">Education </h3> 
                    <button mat-mini-fab (click)="openNewInput('Education')">
                        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add"></mat-icon>
                    </button>
                </DIV>
            </div>
            
            <div *ngFor="let education of userData.Details.Education; let i=index">
                <div class="input-row-1">
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="Degree" [(ngModel)]="education.Degree" name="degree_{{i}}">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="Institution" [(ngModel)]="education.Institution"
                            name="degree_{{i}}">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="Location" [(ngModel)]="education.Location" name="degree_{{i}}">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="Graduation Year" [(ngModel)]="education.Graduation_Date"
                            name="degree_{{i}}">
                    </mat-form-field>

                    <button mat-mini-fab (click)="remove(i)" *ngIf="i>=2">
                        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="delete"></mat-icon>
                    </button>
                </div>
            </div>
            
            <!-- Work Experience -->
            <div class="fill-details-bg">
                <div class="Header-and-button fill-details">
                    <h3 style="margin: 0;">work Experience </h3> <button mat-mini-fab (click)="openNewInput('work-experience')">
                        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add"></mat-icon>
                    </button>
                </div>
            </div>
            <div *ngFor="let exp of userData.Details.Work_Experience; let i=index">

                <div class="input-row-1">
                    <mat-form-field appearance="outline"> 
                        <input matInput placeholder="Role" [(ngModel)]="exp.Job_role" name="exp.Job_role" required>
                    </mat-form-field>
                    <div *ngIf="exp.Job_role.invalid && (exp.Job_role.dirty || exp.Job_role.touched)" class="alert">
                        <div *ngIf="exp.Job_role.errors?.['required']">Name is required.</div>
                    </div>

                    <mat-form-field appearance="outline">
                        <input matInput placeholder="Company" [(ngModel)]="exp.Company" name="exp.Company" required>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="Location" [(ngModel)]="exp.Location" name="degree_{{i}}" required>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="Employment Year" [(ngModel)]="exp.Dates_of_Employment"
                            name="degree_{{i}}" required>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field style="width: 50%;" appearance="outline">
                        <textarea matInput placeholder="write here responsibility" [(ngModel)]="exp.Responsibilities"
                            name="Responsibilities_{{i}}"></textarea>
                    </mat-form-field>
                    <!-- <button mat-button (click)="addNewResponsibility(exp.Responsibilities)">Add
                    </button> -->
                </div>
                <div>

                    <button mat-mini-fab (click)="remove(i)" *ngIf="i>=2">
                        Delete
                    </button>
                </div>
            </div>
            <!-- <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add"></mat-icon> -->
            <!-- // <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="delete"></mat-icon> -->

            <!-- Certifications Section -->
            <div class="fill-details-bg">
            <div class="Header-and-button fill-details">
                <h3 style="margin: 0;" >Certifications</h3> 
                <button mat-mini-fab (click)="openNewInput('Certifications')">
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add"></mat-icon>
                </button>
            </div>
            </div>
            <div *ngFor="let exp of userData.Details.Certification; let i=index">
                <div class="input-row-1">
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="Certification Name" [(ngModel)]="exp.Certification_Name"
                            name="name_{{i}}">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="Month and year" [(ngModel)]="exp.Date_of_Certification"
                            name="date_{{i}}">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="XYZ Institute/Company" [(ngModel)]="exp.Certifying_Body"
                            name="email_{{i}}">
                    </mat-form-field>
                </div>
                <button mat-button (click)="removeCertification(i)" *ngIf="i>=2">
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="delete"></mat-icon>
                </button>
            </div>
            <!-- Technologies Section -->
            <div class="fill-details-bg">
            <h3 style="margin: 0;" class="fill-details">Technologies</h3>
            </div>
            <mat-form-field appearance="outline">
                <mat-chip-grid #techGrid>
                    <mat-chip *ngFor="let tech of technologies" [removable]="true" (removed)="removeTechnology(tech)">
                        {{ tech }}
                        <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="Technologies" [matChipInputFor]="techGrid"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                        (matChipInputTokenEnd)="addTechnology($event)">
                </mat-chip-grid>
            </mat-form-field>

            <!-- Skills Section -->
            <div class="fill-details-bg">
            <h3 class="fill-details">Skills</h3>
            </div>
            <mat-form-field appearance="outline">
                <mat-chip-grid #techSkillGrid>
                    <mat-chip *ngFor="let skill of skills" [removable]="true" (removed)="removeSkillTechnology(skill)">
                        {{ skill }}
                        <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="skills" [matChipInputFor]="techSkillGrid"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                        (matChipInputTokenEnd)="addSkillTechnology($event)">
                </mat-chip-grid>
            </mat-form-field>


            <!-- Footer to Save All Details -->
            <div class="save-button">
                <button mat-raised-button color="primary" type="submit">
                    Save
            </button>
            </div>
        </form>

    </mat-card-content>
</mat-card>