<div class="card-container">
<div *ngFor="let list of resumeDetails; let i=index" >
    <mat-card class="example-card" (click)="viewTemplate(list)">
        <mat-card-content>
     <!-- <button (click)="viewTemplate(list)"> -->
         <!-- </button> -->
         <div style="text-align: end;">
             <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="edit" (click)="viewTemplate(list)"></mat-icon>
         </div>
           <div>
            <p>Template {{i+1}}</p>
            <p>
                {{list.Current_role}}
            </p>
           </div>
        </mat-card-content>
    </mat-card>
</div>
</div>