.card-container{
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 20px;
}
.example-card{
    cursor: pointer;
    width: 300px;
}